<section id="main_page_content" class="container-fluid">
<h1>Galactic e-Commerce</h1>  <br>
<h2>Boas vindas ao aplicativo de gerenciamento de frotas!</h2>
<p>Acesse no menu superior a opção desejada.</p>
</section>
