<h2>Novo <%= Vehicle.model_name.human %></h2>
<div>
  <% if(@vehicle.errors.any?) %>
    <p>Verifique os erros abaixo:</p>
    <ul>
      <% @vehicle.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= render 'form' %>