<section id="load_categories">
  <h3>Preços por peso - <%= @delivery_modality.mod_name %></h3>  
  <% if @load_categories.any? %>
    <table>      
        <tr>
          <th>Intervalo</th>
          <th>Valor por km</th>
          <th>Modalidade</th>
        </tr>
        <% @load_categories.each do |load| %>      
          <tr>
            <td><%= link_to load.formated_description, delivery_modality_load_category_path(@delivery_modality, load ) %></td>
            <td> <%= number_to_currency(load.weight_price)%></td>
            <td> <%= load.delivery_modality.mod_name %></td>
          </tr>
          
        <% end %>
    </table>
  <% else %>
    <p>Não existem preços por peso cadastrados.</p>
    
  <% end %>
</section>